*{
  font-family: 'Noto Serif TC', serif;
  box-sizing: border-box;
  color: #34495e;
}
body{
  background: #ecf0f3;
}
.container1{
  margin:auto;
  display: flex;
  width: 1000px;
  height: 100vh;

}
/* 3大區塊 */
.leftPart{
  width: 0px;
}
.middlePart{
  width: 700px;
}
.rightPart{
  width: 300px;
}

/* left */
.user_area{
  margin: 20px;
  height: 580px;
  border-radius: 10px;
  box-shadow: -3px -3px 7px #ffffff73, 
              3px 3px 5px rgba(94,104,121,0.288);
      
}

/* middle */
  .list_area{
    margin: 20px;
    height: 580px;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff73, 
                3px 3px 5px rgba(94,104,121,0.288);
        
  }
  .monthBar{
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin: 10px;
  padding-top: 10px;
  height: 35px;
}
.monthH{
  transition: 0.1s ease;
}
.monthH:hover{
  border-bottom: 2px solid #95a5a6;
  border-radius: 2px;
}
a{
  text-decoration: none;
}
.invlist{
  margin: auto;
  width: 100%;
  font-size: 14px;
  text-align: center;
  height: 100%;
  table-layout:fixed;
  word-break:break-all;
}
.invlist>thead{
  display: inline-block;
  width: 100%;
  height: 40px;
  font-size: 15px;
  margin: auto;
}
.invlisttr>th{
  padding:5px 36px ;
}
.invlist>tbody {
  
  height: 480px;
  display: inline-block;
  width: 100%;
  overflow: auto;
}
.invlisttr>td{
  width:110px;
  overflow: hidden;
}

.iconED{
  width: 25px;
  height: 25px;
  
}






/* right */
.enter_area{
  margin: 20px;
  height: 580px;
  border-radius: 10px;
  box-shadow: -3px -3px 7px #ffffff73, 
              3px 3px 5px rgba(94,104,121,0.288);   
}

.btnPart{
  margin: 10px;
  height: 80px;
  display: flex;
  padding-top: 10px;
}
.btn1{
  margin: 5px;
  width: 50px;
  height:50px;
  background-color:#ecf0f3;
  border:0px;
  box-shadow: -3px -3px 7px #ffffff73, 
              3px 3px 5px rgba(94,104,121,0.288);
  border-radius: 10px;
  outline:none !important;
  background:url("../img/icon1-01.svg") no-repeat 11px;
}
.btn1:active{
  color:black;
  box-shadow:inset -3px -3px 7px #ffffff73,
            inset 3px 3px 5px rgba(94,104,121,0.288);
}
.btn2{
  margin: 5px;
  width: 50px;
  height:50px;
  background-color:#ecf0f3;
  border:0px;
  box-shadow: -3px -3px 7px #ffffff73, 
              3px 3px 5px rgba(94,104,121,0.288);
  border-radius: 10px;
  outline:none !important;
  background:url("../img/icon3-01.svg") no-repeat 11px;
}
.btn2:active{
  color:black;
  box-shadow:inset -3px -3px 7px #ffffff73,
            inset 3px 3px 5px rgba(94,104,121,0.288);
}
.btn3{
  margin: 5px;
  width: 50px;
  height:50px;

  background-color:#ecf0f3;
  box-shadow: -3px -3px 7px #ffffff73, 
              3px 3px 5px rgba(94,104,121,0.288);
  border:0px;
  border-radius: 10px;
  outline:none !important ;
  background:url("../img/icon4-01.svg") no-repeat 6px;
}

.btn3:active{
  color:black;
  box-shadow:inset -3px -3px 7px #ffffff73,inset 3px 3px 5px rgba(94,104,121,0.288);
}
.btn4{
  margin: 5px;
  width: 50px;
  height:50px;
  background-color:#ecf0f3;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94,104,121,0.288);
  border:0px;
  border-radius: 10px;
  outline:none !important ;
  background:url("../img/user-01.svg") no-repeat 8px ;
  background-size: 35px 35px;
}

.btn4:active{
  color:black;
  box-shadow:inset -3px -3px 7px #ffffff73,
            inset 3px 3px 5px rgba(94,104,121,0.288);
}


.enterPart{
  margin: 15px;
  font-size: 20px;
}
.date{
  position: relative;
}
.dateD{
  padding-left:10px;
  font-size: 10px;
  width: 165px;
  height: 30px;
  margin-left: 25px;
  position: absolute;
  border: 0;
  border-radius: 5px;
  box-shadow:inset -3px -3px 7px #ffffff73,
            inset 3px 3px 5px rgba(94,104,121,0.288);
  outline:none;
}
.numCode{
  position: relative;
  top:30px;
}
.num1{
  padding-left:10px;
  width: 85px;
  height: 30px;
  margin-left: 25px;
  position: absolute;
  border: 0;
  border-radius: 5px;
  box-shadow:inset -3px -3px 7px #ffffff73,
            inset 3px 3px 5px rgba(94,104,121,0.288);
  outline:none;
}
.numNum{
  position: relative;
  top:60px;
}
.num2{
  padding-left:10px;
  width: 165px;
  height: 30px;
  position: absolute;
  left: 65px;
  border: 0;
  border-radius: 5px;
  box-shadow:inset -3px -3px 7px #ffffff73,
            inset 3px 3px 5px rgba(94,104,121,0.288);
  outline:none;
}
.pay{
  position: relative;
  top: 90px;
}
.pay1{
  padding-left:10px;
  width: 165px;
  height: 30px;
  margin-left: 25px;
  position: absolute;
  border: 0;
  border-radius: 5px;
  box-shadow:inset -3px -3px 7px #ffffff73,
            inset 3px 3px 5px rgba(94,104,121,0.288);
  outline:none;
}

.item{
  position: relative;
  top:120px;
}
.item1{
  padding-left:10px;
  width: 165px;
  height: 30px;
  margin-left: 25px;
  position: absolute;
  border: 0;
  border-radius: 5px;
  box-shadow:inset -3px -3px 7px #ffffff73,
            inset 3px 3px 5px rgba(94,104,121,0.288);
  outline:none;
}
.note{
  position: relative;
  top: 150px;
}
.note1{
  padding:10px;
  padding-top:-100px;
  width: 165px;
  height: 130px;
  margin-left: 25px;
  position: absolute;
  border: 0;
  border-radius: 5px;
  box-shadow:inset -3px -3px 7px #ffffff73,
            inset 3px 3px 5px rgba(94,104,121,0.288);
  outline:none;
  resize : none;
}
.hvr:hover{
  box-shadow: -3px -3px 7px #ffffff73, 
              3px 3px 5px rgba(94,104,121,0.288),
              inset -3px -3px 7px #ffffff73,
            inset 3px 3px 5px rgba(94,104,121,0.288);
}
.btnSave{
  transform: translate(95px,260px);
  width: 40px;
  height: 40px;
  border: 0;
  font-size: 20px;
  background-color:#ecf0f3;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94,104,121,0.288);
  border-radius: 10px;
  outline:none !important ;
  background:url("../img/icon2-01.svg") no-repeat 8px ;
}
.btnSave:active{
  color:black;
  box-shadow:inset -3px -3px 7px #ffffff73,inset 3px 3px 5px rgba(94,104,121,0.288);
}

.errMsg{
  position:absolute;
  top:35px;
  left: 0;
}

/* award_numbers.php */

.newAwardTitle{
  text-align: center;
}

.line{
  margin:10px auto;
  width: 600px;
  height: 5px;
  background: #fff;
  border-radius: 10%;
  box-shadow:inset -3px -3px 7px #ffffff73,
            inset 3px 3px 5px rgba(94,104,121,0.288);
}

.awardnumT{
  border-radius: 5px;
  margin: auto;
  width: 600px;
  padding: 5px;
  background-color: #fff;
  box-shadow:inset -3px -3px 7px #ffffff73,
            inset 3px 3px 5px rgba(94,104,121,0.288);
}
.awardnumT td{
  padding:5px;
}
.awardNum{
  color: #e67e22 ;
}