*{
  font-family: 'Noto Serif TC', serif;
  box-sizing: border-box;
  color: #34495e;
}
body{
  background: #ecf0f3;
}
.container1{
  margin:auto;
  display: flex;
  width: 1000px;
  height: 100vh;

}
/* 3大區塊 */
.leftPart{
  width: 150px;
}
.middlePart{
  width: 550px;
}
.rightPart{
  width: 300px;
}

/* left */
.user_area{
  margin: 20px;
  height: 600px;
  border-radius: 10px;
  box-shadow: -3px -3px 7px #ffffff73, 
              3px 3px 5px rgba(94,104,121,0.288);
      
}

/* middle */
  .list_area{
    margin: 20px;
    height: 600px;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff73, 
                3px 3px 5px rgba(94,104,121,0.288);
        
  }
.monthBar{
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin: 10px;
  padding-top: 10px;
}
.monthBar>li{
  transition: 0.1s ease;
}
.monthBar>li:hover{
  border-bottom: 2px solid #95a5a6;
}
a{
  text-decoration: none;
}
.listT{
  margin: auto;
  width: 100%;
  font-size: 14px;
  text-align: center;
  height: 100%;
}
.listT>thead{
  display: inline-block;
  width: 100%;
  height: 40px;
  font-size: 15px;
  border: solid 1px;
  margin: auto;
}
th{
  padding:5px 30px ;
}
.listT>tbody {
  
  height: 480px;
  display: inline-block;
  width: 100%;
  overflow: auto;
}
td{
  padding: 10px;
}









/* right */
.enter_area{
  margin: 20px;
  height: 600px;
  border-radius: 10px;
  box-shadow: -3px -3px 7px #ffffff73, 
              3px 3px 5px rgba(94,104,121,0.288);   
}

.btnPart{
  margin: 10px;
  height: 80px;
  display: flex;
  padding-top: 10px;
}
.btn1{
  margin: 5px;
  width: 50px;
  height:50px;
  background-color:#ecf0f3;
  border:0px;
  box-shadow: -3px -3px 7px #ffffff73, 
              3px 3px 5px rgba(94,104,121,0.288);
  border-radius: 10px;
  outline:none !important;
  background:url("../img/icon1-01.svg") no-repeat 11px;
}
.btn1:active{
  color:black;
  box-shadow:inset -3px -3px 7px #ffffff73,
            inset 3px 3px 5px rgba(94,104,121,0.288);
}
.btn2{
  margin: 5px;
  width: 50px;
  height:50px;
  background-color:#ecf0f3;
  border:0px;
  box-shadow: -3px -3px 7px #ffffff73, 
              3px 3px 5px rgba(94,104,121,0.288);
  border-radius: 10px;
  outline:none !important;
  background:url("../img/icon2-01.svg") no-repeat 14px;
}
.btn2:active{
  color:black;
  box-shadow:inset -3px -3px 7px #ffffff73,
            inset 3px 3px 5px rgba(94,104,121,0.288);
}
.btn3{
  margin: 5px;
  width: 50px;
  height:50px;

  background-color:#ecf0f3;
  box-shadow: -3px -3px 7px #ffffff73, 
              3px 3px 5px rgba(94,104,121,0.288);
  border:0px;
  border-radius: 10px;
  outline:none !important ;
  background:url("../img/icon3-01.svg") no-repeat 11px;
}

.btn3:active{
  color:black;
  box-shadow:inset -3px -3px 7px #ffffff73,inset 3px 3px 5px rgba(94,104,121,0.288);
}
.btn4{
  margin: 5px;
  width: 50px;
  height:50px;
  background-color:#ecf0f3;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94,104,121,0.288);
  border:0px;
  border-radius: 10px;
  outline:none !important ;
  background:url("../img/icon4-01.svg") no-repeat 5px;
}

.btn4:active{
  color:black;
  box-shadow:inset -3px -3px 7px #ffffff73,
            inset 3px 3px 5px rgba(94,104,121,0.288);
}


.enterPart{
  margin: 15px;
  font-size: 20px;
}

.dateD{
  padding-left:10px;
  font-size: 10px;
  width: 165px;
  height: 30px;
  margin-left: 25px;
  position: absolute;
  border: 0;
  border-radius: 5px;
  box-shadow:inset -3px -3px 7px #ffffff73,
            inset 3px 3px 5px rgba(94,104,121,0.288);
  outline:none;
}
.num{
  position: relative;
  top:30px;
}
.num1{
  padding-left:10px;
  width: 50px;
  height: 30px;
  top:40px;
  left: 0px;
  position: absolute;
  border: 0;
  border-radius: 5px;
  box-shadow:inset -3px -3px 7px #ffffff73,
            inset 3px 3px 5px rgba(94,104,121,0.288);
  outline:none;
}
.num2{
  padding-left:10px;
  width: 165px;
  height: 30px;
  top: 40px;
  position: absolute;
  left: 65px;
  border: 0;
  border-radius: 5px;
  box-shadow:inset -3px -3px 7px #ffffff73,
            inset 3px 3px 5px rgba(94,104,121,0.288);
  outline:none;
}
.pay{
  position: relative;
  top: 105px;
}
.pay1{
  padding-left:10px;
  width: 165px;
  height: 30px;
  margin-left: 25px;
  position: absolute;
  border: 0;
  border-radius: 5px;
  box-shadow:inset -3px -3px 7px #ffffff73,
            inset 3px 3px 5px rgba(94,104,121,0.288);
  outline:none;
}

.item{
  position: relative;
  top:140px;
}
.item1{
  padding-left:10px;
  width: 165px;
  height: 30px;
  margin-left: 25px;
  position: absolute;
  border: 0;
  border-radius: 5px;
  box-shadow:inset -3px -3px 7px #ffffff73,
            inset 3px 3px 5px rgba(94,104,121,0.288);
  outline:none;
}
.note{
  position: relative;
  top: 180px;
}
.note1{
  padding:10px;
  padding-top:-100px;
  width: 165px;
  height: 150px;
  margin-left: 25px;
  position: absolute;
  border: 0;
  border-radius: 5px;
  box-shadow:inset -3px -3px 7px #ffffff73,
            inset 3px 3px 5px rgba(94,104,121,0.288);
  outline:none;
  resize : none;
}
.hvr:hover{
  box-shadow: -3px -3px 7px #ffffff73, 
              3px 3px 5px rgba(94,104,121,0.288),
              inset -3px -3px 7px #ffffff73,
            inset 3px 3px 5px rgba(94,104,121,0.288);
}
.btnSave{
  transform: translate(80px,310px);
  width: 70px;
  height: 40px;
  border: 0;
  font-size: 20px;
  background-color:#ecf0f3;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94,104,121,0.288);
  border-radius: 10px;
  outline:none !important ;
}
.btnSave:active{
  color:black;
  box-shadow:inset -3px -3px 7px #ffffff73,inset 3px 3px 5px rgba(94,104,121,0.288);
}