*{
  font-family: 'Noto Serif TC', serif;
  box-sizing: border-box;
  color: #34495e;
}
body{
  background: #ecf0f3;
}

.leftPart{
  height: 90vh;
  width: 500px;
  margin:20px auto;
  border-radius: 10px;
  box-shadow: -3px -3px 7px #ffffff73, 
              3px 3px 5px rgba(94,104,121,0.288);
}

.user_area{
  
      
}

