*{
  font-family: 'Noto Serif TC', serif;
  box-sizing: border-box;
  color: #34495e;
}
a{
  text-decoration: none;
}
body{
  background: #ecf0f3;
}

.leftPart{
  padding-top: 60px;
  height: 90vh;
  width: 400px;
  margin:20px auto;
  border-radius: 10px;
  box-shadow: -3px -3px 7px #ffffff73, 
              3px 3px 5px rgba(94,104,121,0.288);
              
}

.usericon{
  margin: 50px;
  margin:auto;
  width: 100px;
  height:100px;
  background: url("../img/user-01.svg") no-repeat 20px 15px;
  background-size: 60px 60px;
  border-radius: 50%;
  background-color: #eee;
  box-shadow:inset -3px -3px 7px #ffffff73,
            inset 3px 3px 5px rgba(94,104,121,0.288);
  
}
.meg{
  text-align: center;
  color: #e74c3c;
}
.loginarea{
  display: flex;
  margin:auto;
  width: 400px;
  flex-flow: row wrap;
  justify-content: center;
}

.acc{
  padding: 10px 0 0 20px;
  position: relative;
  width: 230px;
  height: 50px;
  border-radius: 10px;
  box-shadow: -3px -3px 7px #ffffff73, 
              3px 3px 5px rgba(94,104,121,0.288);

}
.accipt{
  padding-left:10px;
  width: 140px;
  height: 30px;
  margin-left: 20px;
  position: absolute;
  border: 0;
  border-radius: 5px;
  box-shadow:inset -3px -3px 7px #ffffff73,
            inset 3px 3px 5px rgba(94,104,121,0.288);
  outline:none !important ;
}
.pw{
  margin: 40px 0 30px 0;
  padding: 10px 0 0 20px;
  position: relative;
  width: 230px;
  height: 50px;
  border-radius: 10px;
  box-shadow: -3px -3px 7px #ffffff73, 
              3px 3px 5px rgba(94,104,121,0.288);
  

}
.pwipt{
  padding-left:10px;
  width: 140px;
  height: 30px;
  margin-left: 20px;
  position: absolute;
  border: 0;
  border-radius: 5px;
  box-shadow:inset -3px -3px 7px #ffffff73,
            inset 3px 3px 5px rgba(94,104,121,0.288);
  outline:none !important ;
}
.forget{
  font-size: 18px;
  padding-left:80px ;
}
.loginbtn{
  transform: translate(-130px,50px);
  width: 80px;
  height: 40px;
  border: 0;
  font-size: 20px;
  background-color:#ecf0f3;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94,104,121,0.288);
  border-radius: 10px;
  outline:none !important ;
}
.loginbtn:active{
  color:#15e38a;
  box-shadow:inset -3px -3px 7px #ffffff73,inset 3px 3px 5px rgba(94,104,121,0.288);
}

/* forget.php */

.findpw{
  padding:20px;
  text-align: center;
  display: flex;
  margin:-40px auto;
  width: 360px;
  height: 250px;
  background-color: #eee;
  flex-flow: column wrap;
  align-content: center;
  border-radius: 5px;
  box-shadow:inset -3px -3px 7px #ffffff73,
            inset 3px 3px 5px rgba(94,104,121,0.288);
}
.fline{
  margin:10px auto;
  width: 250px;
  height: 5px;
  background: #fff;
  border-radius: 10%;
  box-shadow:inset -3px -3px 7px #ffffff73,
            inset 3px 3px 5px rgba(94,104,121,0.288);
}
.findipt{
  margin: 10px;
  display: flex;
  
}
.spw{
  padding-left: 10px;
  width: 190px;
  height: 40px;
  border: 0;
  border-radius: 10px 0 0 10px;
  box-shadow:inset -3px -3px 7px #ffffff73,
  inset 3px 3px 5px rgba(94,104,121,0.288);
  outline:none !important ;
}

.findbtn{
  background: url("../img/search-01.svg") no-repeat 10px;
  width: 60px;
  height: 40px;
  border: 0;
  font-size: 20px;
  background-color:#ecf0f3;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94,104,121,0.288);
  border-radius:0  10px 10px 0;
  outline:none !important ;
}
.findbtn:active{
  background: url("../img/search2-01.svg") no-repeat 10px;
  box-shadow:inset -3px -3px 7px #ffffff73,inset 3px 3px 5px rgba(94,104,121,0.288);
}
.hint{
  margin: 0 auto;
  height: 30px;
  width: 250px;
  color: #e74c3c;
  background: url("../img/pattern.png") no-repeat;
  
}

/* register.php */

.regpart{
  padding: 20px;
  font-size: 20px;
  text-align: center;
  display: flex;
  margin:-50px auto;
  width: 380px;
  height: 450px;
  background-color: #eee;
  flex-flow: column wrap;
  align-content: center;
  border-radius: 5px;
  box-shadow:inset -3px -3px 7px #ffffff73,
            inset 3px 3px 5px rgba(94,104,121,0.288);
}

.info{
  padding: 10px;
  margin:15px auto;
  width: 150px;
  height: 30px;
  border: 0;
  border-radius:0 10px 10px 0;
  box-shadow:inset -3px -3px 7px #ffffff73,
  inset 3px 3px 5px rgba(94,104,121,0.288);
  outline:none !important ;
}

.add{
  width: 60px;
  height: 40px;
  border: 0;
  font-size: 20px;
  background-color:#ecf0f3;
  box-shadow: -3px -3px 7px #ffffff73, 3px 3px 5px rgba(94,104,121,0.288);
  border-radius:10px;
  outline:none !important ;
}
.add:active{
  box-shadow:inset -3px -3px 7px #ffffff73,inset 3px 3px 5px rgba(94,104,121,0.288);
}
